{% extends 'absapp/index.html'%}

{% load static %}


{% block title %}SIGN UP{% endblock %}

{% block head_extra %}


{% endblock %}

{%block content%}
<!--
<form  action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <button type="submit">sssssssss</button>
</form>
    {{s}}

-->

<!--
  DO NOT SIMPLY COPY THOSE LINES. Download the JS and CSS files from the
  latest release (https://github.com/enyo/dropzone/releases/latest), and
  host them yourself!
-->
<script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
<link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">


<p>
    This is the most minimal example of Dropzone. The upload in this example
    doesn't work, because there is no actual server to handle the file upload.
</p>

<!-- Change /upload-target to your upload address -->
<form action="/file-upload" class="dropzone">
    <div class="fallback">
        <input name="file" type="file" multiple/>
    </div>
</form>
<script>

        var myDropzone = new Dropzone(document.getElementById('dropzone-area'), {
	    uploadMultiple: false,
	    acceptedFiles:'.jpg,.png,.jpeg,.gif',
	    parallelUploads: 6
	    url: 'https://api.cloudinary.com/v1_1/cloud9/image/upload'
});


</script>
{% endblock %}
