{% extends 'absapp/index.html'%}
{% load i18n %}
{% load static %}
{% block head_extra %}

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

{% endblock %}

{% block title %}{% trans "Вопрос" %}{% endblock %}

{%block content%}


        <div id="ask-field" class="col-md-6 offset-md-3">
            <div>
                От: {{who_ask}}
            </div>
            <div>
               <h4>{{ask}}</h4>
            </div>
            <textarea id="text-input" style="width: 100%"  resp="{{ask_id}}" id="" cols="75" rows="4"></textarea>
            <button style="width: 100%" onclick="sends()">Отправить</button>
            <div>
            </div>
        </div>


<script>
var dt = 0
    function sends(){
    var message = $('textarea').val();
    var ask_id = $('textarea').attr('resp');
    var dt 
    console.log(message)
        console.log(dt)

    console.log(ask_id)
    $.ajax({
        type: "GET",
        url: "{% url 'response' %}",
        data:{
            'message': message,
            'ask_id': ask_id,
        },
        dataType: "text",
        success: function(data){

            $('#ask-field').html(data );

                        }
        })
}

</script>
{% endblock %}
