{% extends 'absapp/index.html'%}
{% load i18n %}
{% load static %}
{% block head_extra %}

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>

{% endblock %}

{% block title %}{% trans "Вопрос" %}{% endblock %}

{%block content%}

    <div class="col" >
        <div id="ask-field" class="col-md-6 offset-md-3">{{conspect_author}}
                <textarea id="text-input" style="width: 100%"  resp="{{conspect_author_id}}" id="" cols="75" rows="4"></textarea>
                <button class="btn btn-dark" style="width:100%;" onclick="sends()">Отправить</button>
        </div>
        <div id="qwer"></div>
    </div>

<script>
var dt = 0
    function sends(){
    var message = $('textarea').val();
    var conspect_author_id = $('textarea').attr('resp');
    var dt 
    console.log(conspect_author_id)
    $.ajax({
        type: "GET",
        url: "{% url 'question' %}",
        data:{
            'message': message,
            'conspect_author_id': conspect_author_id,
        },
        dataType: "text",
        success: function(data){

            $('#ask-field').html(data );

                        }
        })
}

</script>
{% endblock %}
