{% extends 'absapp/index.html'%}
{% load static %}
{% load i18n %}
{% block title %}{{ conspect.name }}{% endblock %}
{% block head_extra %}
<link rel="stylesheet" type="text/css" href="{% static '5star.css' %}">
<script src="{% static 'conspectapp/5star.js' %}"></script>
<script src="{% static 'conspectapp/save2doc.js' %}"></script>

<script src="{% static 'conspectapp/like.js' %}"></script>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
{% endblock %}

{%block content%}
<div class="" id="as" >
    <div>

            <div class="col-md-6 offset-md-3"  style="background-color: rgb(255, 255, 255);">
                {% if user.is_authenticated %}
                    <button class="btn btn-outline-secondary" onclick="Export2Doc('cons','{{ conspect.name }}')">{% trans "Скачать" %}</button>
                {% endif %}

                {% if user.id == conspect.author_id %}
                    <a class="btn btn-outline-secondary" href="edit/">{% trans "Редактировать" %}</a>
                    <a class="btn btn-outline-danger" href="del/">{% trans "Удалить" %}</a>
                {% else %}
                    <div class="col-md-6 offset-md-3" style="background-color: rgb(255, 255, 255);">
                         
        </div>
                {% endif %}


            </div>
        </div>
        <div class="row col-md-6 offset-md-3"style="background-color: rgb(255, 255, 255);">
            {% for tag in conspect.tags.all %}
            <div class="mr-1">
            <a href="{% url 'tag_detail' tag.id %}"><h5><span class="badge badge-dark">{{tag}}</span></h5></a>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-6 offset-md-3" style="width: 800px; background-color: rgb(255, 255, 255);" id="conspect" name="{{conspect_id}}">
            <div id="cons">
            <h2>{{ conspect.name }}</h2>
            <hr>        
            {{ conspect_content|safe }}
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
        <div class="col-md-6 offset-md-3" style="background-color: rgb(255, 255, 255);">
            <form method="POST">
                {% csrf_token %}
                {{ comment_form.as_p }}
                <button type="submit">{% trans "Отправить" %}</button>
            </form>
            {% trans "Комментарии" %}
        </div>

            <div class="col-md-6 offset-md-3" id="comment_field" name="{{conspect_id}}">

            </div>
    {% else %}
<div  class="p-3 mb-2 bg-dark text-white">
       <div class="col-md-6 offset-md-3">

       {% trans "Чтобы оставить комментарий или оценить конспект " %}<a href="{% url 'login' %}">{% trans "войдите на сайт" %}</a>
</div>
</div>
    {% endif %}

    </div>
</div>




<script>
function checker(){
      $.ajax({
        type: "GET",
        url:  "{% url 'check_comment' %}",
        data:{
          'conspect_id' :{{conspect_id}},
        },
        dataType: "text",
        success: function(html){  
                      $("#comment_field").html(html);  
                  }
        })
  }
$(document).ready(function(){
    checker();
    setInterval('checker()',5000);
 }); 

</script>
{% endblock %}
