{% extends 'absapp/index.html'%}
{% load static %}

{% block head_extra %}
<script src="{% static 'conspectapp/getter.js' %}"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

{% endblock %}


{% block title %}КУРСОВОЙ{% endblock %}

{%block content%}
    <a href="../">Вернуться к конспекту</a>
        <div id="redaktor" class='d-flex flex-column'>
                    <div class="d-flex justify-content-center mt-4">
                    <textarea name="" id="conspect_name" cols="80" rows="1">{{conspect_name}}</textarea>
                    </div>
                    <div class="d-flex justify-content-center mt-1">
                    <textarea name="{{conspect_id}}" id="conspect" cols="80" rows="18">{{conspect_content}}</textarea>
                    </div>
                    <div class="d-flex justify-content-center mt-1">        
                    <button type="button"  class="btn btn-secondary btn-lg btn-block" onclick="geter()">Сохранить изменения</button>
                    </div>
        </div>
    
{% endblock %}
