{% extends "absapp/index.html" %}
{% load i18n %}

{% block title %}{{ user.username }}{% endblock %}
{% block content%}


<div id="as">
	<div class='d-flex flex-column'>
		
		<a href="{% url 'userpage' user.id %}">{% trans "Вернуться назад" %}</a>

		<div class="d-flex justify-content-center mt-4">
  			<form action="" method="POST">
        		{% csrf_token %}
        		{{ form.as_p }}
        		<button  class = "pure-button"id = ""type="submit">{% trans "Сохранить конспект" %}</button>
  			</form>
  		</div>
  	</div>
</div>

{% endblock %}
