{% extends "absapp/index.html" %}
{% load i18n %}
{% load static %}
{% block title %}{{ user.username }}{% endblock %}

{% block head_extra %} 
<script src="{% static 'dinamic/dynamics.min.js' %}"></script>
<script src="{% static 'dinamic/script.js' %}"></script>
{% endblock %}

{% block content%}

    {% if alert %}
        <div class="alert alert-dark" role="alert">
            <div  class="d-flex justify-content-center">
            {{ alert }}
            </div>
        </div>
    {% endif %}
   

<div id="input" class="col-md-6 offset-md-3">
        <form method="POST">
            {% csrf_token %}
            <div>Название </div>
            <input  style="width:100%;" name='name' type="text">
            <input name='author' type="hidden" value="{{user.id}}">
            <div> Текст  </div>
            <textarea name="content" style="width:100%;" rows="10"></textarea>
            <div>Теги </div>
            <input  style="width:100%;" name='tags'  type="text">
            <button type="submit" id="btn" class=" mt-2 btn btn-dark" style="width:100%;" >Сохранить</button>
        </form>
</div>

{% endblock %}
