{% extends 'absapp/index.html'%}
{% load i18n %}



{% block title %}{% trans "Логин" %}{% endblock %}
{% load static %}
{%block content%}
<div class="col-md-3 offset-md-5">
	<div  class="col-md-4">
  		<form method="POST">
        	{% csrf_token %}
        	{{ form.as_p }}
        	<button  class = "pure-button"id = ""type="submit">{% trans "Войти" %}</button>
  		</form>
	</div>
	<div class="d-flex justify-content-around mt-5">
		<a href="/login/vk-oauth2"><img src="{%static 'img/vk-social-network-logo (2).png'%}" alt=""></a>
		<a href="{% url 'social:begin' 'facebook' %}"> <img src="{%static 'img/facebook.png'%}" alt=""></a>
		<a href="{% url 'social:begin' 'github' %}"> <img src="{%static 'img/github.png'%}" alt=""></a><br>
 	</div>
</div>

{% endblock %}
