{% extends 'absapp/index.html'%}
{% load static %}
{% load i18n %}
{% block head_extra %}

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'tagapp/jqcloud.css' %}" />
    <script type="text/javascript" src="{% static 'tagapp/jqcloud-1.0.0.js' %}"></script>
    
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

    {% endblock %}

{% block title %}{% trans "Курсовой" %}{% endblock %}

{%block content%}
<div class="mt-5 ">
    


    <div class='d-flex'>

<script type="text/javascript">
      var word_list = [
        {% for key, value in tag_dict.items %}
        {text: "{{ key }}", weight:{{ value.0}}, link: "tag/{{value.1}}/"},
        {% endfor %}
        ];
      $(function() {
        $("#my_favorite_latin_words").jQCloud(word_list);
      });
    </script>
<div class="mr-5" id="my_favorite_latin_words" style="width: 25%; height: 300px; "></div>

<div style="width:65%">
    <ul class="nav nav-tabs " id="myTab" role="tablist">
  <li class="nav-item ">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">{% trans "Лучшие" %}
</a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">{% trans "Новые" %}
</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

<div class=" ">
    {% for conspect in toplist %}

    <div class="card text-center mb-1">
        <div class="card-header d-flex justify-content-between flex-row">
            <div class="5">{{conspect.name}}</div><div><span class=" badge badge-info">{{conspect.rating}}</span></div>
        </div>
        <div id="" class="card-body">
            <p class="card-text">{{conspect.description}}</p>
            <a href="{% url 'conspect' conspect.id %}" class="btn btn-secondary">{% trans "Подробнее" %}
</a>
        </div>
        <div class="card-footer text-muted">
            {% for tag in conspect.tags.all %}
            {{tag}}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

  </div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">


<div class=" ">
    {% for conspect in newlist %}

    <div class="card text-center mb-1">
        <div class="card-header">
            <div class="">{{conspect.name}}</div>
        </div>
        <div class="card-body">
            <p class="card-text">{{conspect.description}}</p>
            <a href="{% url 'conspect' conspect.id %}" class="btn btn-secondary">{% trans "Подробнее" %}
</a>
        </div>
        <div class="card-footer text-muted">
            {% for tag in conspect.tags.all %}
            {{tag}}
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>

  </div>

</div></div>
</div>
</div>

{% endblock %}
