{% for i in coment_list %}
<div class="p-2 mb-2 bg-secondary text-white">
    <div class="row">
        <h5 class="mr-5 ml-3">{{i.user}}</h5>
        <h6> {{i.created}}</h6>
    </div>
    <div class="p-3 mb-1 bg-light text-dark">
        <div id="comment" data-id={{i.id}}>
            <h5>
                {{i.content}}
            </h5>
        </div>
        <div class="d-flex flex-row-reverse">
            <button onclick="like({{i.id}})">like</button>
            
            <span id="liked" class="mt-4 mr-1">{{i.likes}}</span>
        </div>    
    </div>
</div>
{% endfor %}